<div class="m-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row justify-content-md-center">
            <div class="col-md-6 text-center">
                <h1 class="title">New Employee Create</h1>
                <mat-card>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Username</mat-label>
                            <input matInput formControlName="username" name="username"
                                placeholder="Silahkan Masukkan Username Anda...">
                            <mat-error *ngIf="form.controls.username.hasError('required')">
                                Username is <strong>required</strong>
                            </mat-error>
                            <mat-error
                                *ngIf="!form.controls.username.hasError('required') && !form.controls.username.valid">
                                Username <strong>input invalid</strong> tidak boleh menggunakan spasi
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput formControlName="firstName" name="firstName"
                                placeholder="Silahkan Masukkan Nama Depan Anda...">
                            <mat-error *ngIf="form.controls.firstName.hasError('required')">
                                First Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastName" name="lastName"
                                placeholder="Silahkan Masukkan Nama Belakang Anda...">
                            <mat-error *ngIf="form.controls.lastName.hasError('required')">
                                Last Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="email" name="email"
                                placeholder="Silahkan Masukkan Email Anda...">
                            <mat-error *ngIf="form.controls.email.hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="form.controls.email.hasError('email')">
                                Gunakan <strong>Email</strong> yang valid
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field color="primary" appearance="outline">
                            <mat-label>Birth Date</mat-label>
                            <input matInput formControlName="birthDate" name="birthDate" readonly
                                [matDatepicker]="picker2" (focus)="picker2.open()" [max]="maxDate"
                                (dateInput)="addEventAwal('input', $event)"
                                placeholder="Silahkan Masukkan Tanggal Lahir Anda...">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                            <mat-error *ngIf="form.controls.birthDate.hasError('required')">
                                Birth Date is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Basic Salary</mat-label>
                            <input matInput appOnlynumber formControlName="basicSalary" name="basicSalary"
                                placeholder="Silahkan Masukkan Gaji Anda...">
                            <mat-error *ngIf="form.controls.basicSalary.hasError('required')">
                                Basic Salary is <strong>required</strong>
                            </mat-error>
                            <mat-error
                                *ngIf="!form.controls.basicSalary.hasError('required') && !form.controls.basicSalary.valid">
                                Basic Salary <strong>input invalid</strong> only number
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Status</mat-label>
                            <input matInput formControlName="status" name="status"
                                placeholder="Silahkan Masukkan Status Anda...">
                            <mat-error *ngIf="form.controls.status.hasError('required')">
                                Status is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label class="text-bold">Group</mat-label>
                            <mat-select formControlName="group" name="group">
                                <mat-select-filter [displayMember]="'name'" [array]="lisGrp"
                                    (filteredReturn)="filteredGroup =$event"></mat-select-filter>
                                <mat-option *ngFor="let item of filteredGroup" [value]="item.name">
                                    {{item.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.controls.group.hasError('required')">
                                Group is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Description</mat-label>
                            <input matInput formControlName="description" name="description"
                                placeholder="Silahkan Masukkan Deksripsi Anda...">
                            <mat-error *ngIf="form.controls.description.hasError('required')">
                                Description is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </mat-card>
                <button *ngIf="flag != 'TOP'" mat-raised-button color="primary" class="me-3 mt-3" style="width: 80px;"
                    type="submit">Save</button>
                <button *ngIf="flag != 'TOP'" style="color: white; background-color: orange;" mat-button mat-raised-button (click)="navigateListEmpl()">
                    Cancel
                </button>
                <button *ngIf="flag == 'TOP'" class="mt-3" mat-button mat-raised-button style="color: white; background-color: black" (click)="navigateListEmpl()">
                    OK
                </button>

            </div>
        </div>
    </form>
    <div class="row mt-4">
        <!-- Pembatas -->
    </div>
</div>