mat-sidenav-container {
  min-height: 100vh;
  background-color: #f5f5f5;
  z-index: 3;
}

mat-sidenav {
  min-height: 100vh;
  min-width: 70px !important; 
  width: 310px !important; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
}

mat-sidenav:not(.mat-drawer-opened) {
  transform: translate3d(0, 0, 0) !important;
  visibility: visible !important;
  width: 70px !important;
  overflow: hidden;
}

/* muf logo start */
.muf-logo {
  height: 4em; 
  display: flex;
}

.muf-logo div {
  cursor: pointer;
  width: 55%; 
  height: 90%; 
  margin: auto; 
  display: flex;
}

.muf-logo div img {
  width: inherit; 
  margin: auto;
}

mat-sidenav:not(.mat-drawer-opened) .muf-logo div{
  width: 90% !important;
}
/* muf logo end */

/* user login start */
.user {
  min-height: 16.5em; 
  position: relative;
}

.bg-avatar {
  position: absolute; 
  bottom: 0;
  /* width: 10%; */
  /* height: 10%; */
}

.avatar {
  position: absolute; 
  top: 1em; 
  display: flex;
}

.avatar div:first-of-type {
  width: 100px;
}

.avatar div:first-of-type mat-icon {
  display: inline-block; 
  margin-top: -.2em; 
  cursor: pointer; 
  color: #204A7E;
}

.avatar div:last-of-type {
  width: 200px; 
  padding: 2em 1em .5em;
}

.avatar div:last-of-type h4 {
  word-wrap: break-word; 
  line-height: normal; 
  font-weight: bold; 
  color: #204A7E;
}

.avatar div:last-of-type p {
  word-wrap: break-word;
}

mat-sidenav:not(.mat-drawer-opened) .user .bg-avatar,
mat-sidenav:not(.mat-drawer-opened) .avatar div:first-of-type mat-icon,
mat-sidenav:not(.mat-drawer-opened) .avatar div:last-of-type h4,
mat-sidenav:not(.mat-drawer-opened) .avatar div:last-of-type p{
  display: none;
}

mat-sidenav:not(.mat-drawer-opened) .user {
  min-height: 6.3em;
}

mat-sidenav:not(.mat-drawer-opened) .avatar {
  top: 0;
}

mat-sidenav:not(.mat-drawer-opened) .avatar div:first-of-type {
  width: 70px;
}

mat-sidenav:not(.mat-drawer-opened) .avatar div:first-of-type img {
  width: 90%;
}
/* user login end */

/* tree menu start */
.menu-tree-invisible { /*run tree function*/
  display: none;
}

.menu-tree .mat-nested-tree-node div[role=group] {
  padding-left: 20px;
}

/* .menu-tree div[role=group] > .mat-tree-node {
  padding-left: 10px;
} */

.menu-list .item-icon {
  margin: 0 .8em;
}

::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

::ng-deep .mat-drawer-inner-container::-webkit-scrollbar {
  display: none;
}

mat-sidenav:not(.mat-drawer-opened) .hide-on-collapse {
  display: none;
}

::ng-deep .mat-list-item-content {
  padding: 0 .7em 0 0 !important;
  color: rgb(97, 97, 97);
}

::ng-deep .mat-list-text {
  padding-left: 0 !important;
}

mat-sidenav:not(.mat-drawer-opened) ::ng-deep .mat-list-item-content {
  padding: 0;
}

mat-sidenav:not(.mat-drawer-opened) mat-list-item {
  display: flex;
  justify-content: center;
}

mat-sidenav:not(.mat-drawer-opened) ::ng-deep .mat-list-item-content {
  padding: 0 !important;
}

.mat-tree-node:hover {
  background-color: #c6e0ff !important;
}

.menu-active {
  background-color: #4b91e8;
}

.menu-active:hover .icon-menu-active,
.menu-active:hover .name-menu-active  {
  color: rgb(97, 97, 97);
}

.icon-menu-active, 
.name-menu-active {
  color: white;
}

mat-sidenav:not(.mat-drawer-opened) .menu-active-oncollapse {
  color: white;
  background-color: #4b91e8;
}
/* tree menu end */

/* button toggle sidenav start */
.sidenav-toggle {
  border-top: .001em solid rgb(223, 223, 223); 
  padding: .2em .7em; 
  display: flex; 
  justify-content: end;
}

mat-sidenav:not(.mat-drawer-opened) .sidenav-toggle {
  justify-content: center; /*make button center when sidebar collapse*/
}

.sidenav-toggle mat-icon {
  font-size: 3em; 
  width: 1em; 
  height: 1em; 
  display: flex; 
  cursor: pointer;
}

.sidenav-toggle mat-icon span {
  display: inline-block; 
  margin: auto;
}

.toggle-on {
  color: #4b91e8;
}

.toggle-off {
  color: #ccd2bb;
}
/* button toggle sidenav end */

/* mat-sidenav-content start */
.margin-behavior {  
  margin-left: 70px; /*add margin when sidenav collapse*/
}

.main-content {
  min-height: 100vh; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
  position: relative;
}

.cvr-iframe {
  position: absolute; 
  top: calc(2.8em + 16px); 
  width: 100%; 
  height: 84.4vh;
}

.footer {
  background-color: white; 
  display: flex; 
  justify-content: space-between; 
  padding: 1em; 
  color: #6c757d;
}
/* mat-sidenav-content end */

/* mat-dialod avatar start */
mat-card {
  cursor: pointer;
}

mat-card img {
  width: 100%;
}

mat-card { 
  transition: all .2s ease-in-out; 
}

mat-card:hover { 
  transform: scale(1.1); 
}

.avatar-active mat-card{
  background-color: #edede9;
  scale: 1.1;
  z-index: 4;
}

/* width */
.scrollbar::-webkit-scrollbar {
  width: .7em;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
}
 
/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: #c6e0ff; 
  border-radius: 10px;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #204a7e; 
}
/* mat-dialod avatar end */

.cursor {
  cursor: pointer;
}