<div class="container-fluid">
    <div class="d-flex flex-row-reverse mt-3">
        <button mat-raised-button color="primary" class="btn" style="height: 50px; font-size: 18px" (click)="navigateAddEmpl()">
            <mat-icon>add</mat-icon>
            Add Employee
        </button>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <mat-card class="toCenter" style="width: 100%">
                <div class="d-flex custom-search" style="height: 80px">
                    <div class="mr-auto p-2">
                        <h1 class="ml-2 mt-3 title">List Employee</h1>
                    </div>
                    <div class="p-2">
                        <mat-form-field appearance="outline" style="width: 300px; height: 1px" class="mt-1">
                            <mat-label>
                                <mat-icon>search</mat-icon>
                                Search
                            </mat-label>
                            <input [(ngModel)]="searchData" (keyup.enter)="searchResult()" (ngModelChange)="onSearchChange()"
                             matInput type="text" style="width: 80%" />
                        </mat-form-field>
                    </div>
                    <div class="mt-3">
                        <button style="height: 50px; color: white; width: 100%; max-width: 130px; font-size: 18px"
                            color="accent" class="btn mr-4 ml-2 btnYellow" (click)="searchResult()" mat-button>
                            <mat-icon>search</mat-icon>
                            Search
                        </button>
                    </div>
                </div>
                <div class="mt-2">
                    <div class="toCenter custom-table-container" style="width: 100%">
                        <div>
                            <table mat-table style="width: 100%" [dataSource]="dataSource" #sort="matSort" matSort
                                cdkDropList cdkDropListOrientation="horizontal"
                                (cdkDropListDropped)="onColumnDrop($event)" class="custom-table table-hover">

                                <!-- No Column -->
                                <ng-container matColumnDef="no">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag
                                        style="cursor: move;">
                                        ID
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.no }}
                                    </td>
                                </ng-container>

                                <!-- Kolom Username -->
                                <ng-container matColumnDef="username">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag
                                        style="cursor: move;">
                                        Username
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.username }}
                                    </td>
                                </ng-container>

                                <!-- Kolom firstName -->
                                <ng-container matColumnDef="firstName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag
                                        style="cursor: move;">
                                        First Name
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.firstName }}
                                    </td>
                                </ng-container>

                                <!-- Kolom lastName -->
                                <ng-container matColumnDef="lastName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag
                                        style="cursor: move;">
                                        Last Name
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.lastName }}
                                    </td>
                                </ng-container>

                                <!-- Kolom email -->
                                <ng-container matColumnDef="email">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag
                                        style="cursor: move;">
                                        Email
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.email }}
                                    </td>
                                </ng-container>

                                <!-- Kolom birthDate -->
                                <ng-container matColumnDef="birthDate">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag
                                        style="cursor: move;">
                                        Birth Date
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.birthDate }}
                                    </td>
                                </ng-container>

                                <!-- Kolom basicSallary-->
                                <ng-container matColumnDef="basicSallary">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag
                                        style="cursor: move;">
                                        Basic Sallary
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.basicSallary }}
                                    </td>
                                </ng-container>

                                <!-- Kolom status -->
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag
                                        style="cursor: move;">
                                        Status
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.status }}
                                    </td>
                                </ng-container>

                                <!-- Kolom group -->
                                <ng-container matColumnDef="group">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag
                                        style="cursor: move;">
                                        Group
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.group }}
                                    </td>
                                </ng-container>

                                <!-- Kolom description -->
                                <ng-container matColumnDef="description">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag
                                        style="cursor: move;">
                                        description
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        {{ element.description }}
                                    </td>
                                </ng-container>

                                <!-- Detail Column -->
                                <ng-container matColumnDef="detail">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Detail
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <button mat-icon-button class="mat-icon-no-color btn" (click)="navigateDetailEmpl(element)" matTooltip="Detail Employee">
                                            <mat-icon>launch</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>

                                <!-- Action Column -->
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Action
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <button mat-icon-button color="primary" class="btn mr-3" (click)="editData()" smatTooltip="Edit Data">
                                            <mat-icon>border_color</mat-icon>
                                        </button>
                                        <button mat-icon-button color="warn" class="btn" (click)="deleteData()" matTooltip="Delete">
                                            <mat-icon>delete_forever</mat-icon>
                                        </button>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumnsResult"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsResult;"></tr>
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell text-center fs-10" colspan="12" *ngIf="isLoading">
                                        <mat-spinner class="container mt-5 mb-5"></mat-spinner>
                                    </td>
                                    <td class="mat-cell text-center fs-12 not-found-gif" *ngIf="!isLoading"
                                        colspan="12"><img src="../../../assets/images/no-data.jpg"></td>
                                </tr>
                            </table>
                            <div class="mb-3">
                                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20, 50, 100, 250]"
                                    showFirstLastButtons aria-label="Select page">
                                </mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row mt-4">
        <!-- Pembatas -->
    </div>
</div>