table {
  margin: 0;
}

.title {
  font-family: Roboto;
  font-size: 25px;
  color: rgb(97, 97, 97);
  font-weight: 500;
}

tr.element-hover:hover {
  background: rgb(231, 231, 231);
}

mat-card {
  border-radius: 10px;
  padding: 0;
  margin: 0;
  padding-bottom: 1px;
  box-sizing: border-box;
}

.noev {
  padding: 0;
  margin: 0;
}

mat-paginator {
  margin-top: 10px;
}

.textHeader {
  font-weight: bold;
  font-size: 14px;
}

.mat-column-action {
  text-align: center;
}

button.mat-icon-button:hover {
  background-color: rgb(216, 215, 215);
}

.toCenter {
  margin: 0 auto;
  display: block;
}

.btnYellow {
  background-color: #ffa600f6;
}

.btnYellow:hover {
  background-color: #ffa600f6;
}

.custom-card {
  width: 100%;
  /* Atur lebar maksimum yang diinginkan */
  overflow-x: auto;
  /* Tampilkan scrollbar horizontal hanya jika konten melebihi lebar */
  white-space: nowrap;
  /* Jaga agar konten tidak pindah baris, tetap dalam satu baris */
}

@media screen and (min-width: 200%) {
  .custom-card {
    overflow-x: auto;
    /* Tampilkan scrollbar horizontal ketika lebar viewport mencapai 200% */
  }
}

.custom-search {
  overflow: hidden;
  /* Atur lebar maksimum agar tidak keluar batas */
  white-space: nowrap;
  /* Jaga agar konten tidak pindah baris, tetap dalam satu baris */
}

.custom-h3 {
  display: flex; /* Menggunakan flexbox untuk mengatur tata letak */
  flex-direction: column; /* Tata letak menjadi kolom (elemen berada di atas dan bawah) */
  align-items: center; /* Mengatur posisi horizontal ke tengah */
}

/* CSS untuk ikon */
.not-found-gif img{
  width: 15%;
  height: 10%;
  opacity: 0.4;
}

/* font icon */
.custom-icon {
  font-family: Roboto;
  font-size: 25px;
  color: rgb(97, 97, 97);
  font-weight: 500;
  cursor: pointer;
}

/* custom drag and drop table */
.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
  background: rgb(245, 243, 243);

  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.column-chooser-box {
  width: 250px;
  min-height: 300px;
  padding: 10px;
  box-sizing: border-box;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  background: #fff;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  right: 20px;
  top:50px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.column-chooser-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.column-chooser-handle {
  cursor: move;
}
.example-list {
  width: 100%;
  max-width: 100%;
  min-height: 250px;
  border-radius: 4px;
  display: block;
  background: rgb(231, 231, 231);
  border-radius: 4px;
}

.example-box {
  padding: 10px 10px;
  border-radius: 4px;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  min-height: 55px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 12px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-custom-placeholder {
  opacity: 100 !important;
  border-radius: 4px;
  background: rgb(245, 243, 243);
  border: dotted 1px rgb(136, 135, 135);
  min-height: 55px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


tr.detail-row {
height: 0 !important;
background-color: #fafafa;
}

tr.element-row:not(.expanded-row):hover {
background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
background: #efefef;
}

.element-row td {
border-bottom-width: 0 !important;
}

.element-detail {
overflow: hidden !important;
display: flex !important;
}

/* Assuming your custom-dialog-container class is used only for this dialog */
.custom-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%;
  height: 100%; */
}

.custom-dialog-container .mat-dialog-container {
  max-width: 200%;
}

.custom-dialog-container mat-form-field {
  flex: 1 1 100%; 
}

th {
  background-color: rgb(250, 250, 250); 
  font-weight: bold;
  font-size: 14px;
  border-top: 1px solid rgb(223, 223, 223);
}

.custom-table {
  border-collapse: collapse; /* Agar batas tabel tetap rapi */
}

.custom-table th, .custom-table td {
    padding: 15px; /* Atur jarak antara teks dan batas */
    /* text-align: left;  */
    overflow: hidden;
    text-overflow: ellipsis; /* Jika konten terlalu panjang */
    white-space: nowrap; /* Hindari wrap teks */
}

.custom-table-container {
  overflow-x: auto;
  max-width: 100%; /* Pastikan tabel tidak melebihi lebar kontainer */
}

td {
  /* font-weight: bold; */
  font-size: 14px;
  color: rgb(82, 82, 82);
}

.mat-column-action, .mat-column-no {
  text-align: center;
}
