mat-toolbar {
    height: 2.8em;
    background-color: #4b91e8;
    color: white;
    display: flex;
    justify-content: flex-end;
    /* box-shadow: 0 .25em .5em .01em #686868; */
}

mat-toolbar button:nth-child(1) {
    padding-top: .2em;
}

mat-toolbar button:nth-child(2) {
    padding-top: .2em;
    margin: 0 .8em;
}

mat-toolbar button:nth-child(1) mat-icon,
mat-toolbar button:nth-child(2) mat-icon {
    font-size: 2.2em;
    width: 1em;
    height: 1em;
}

.profil-tooltip {
    background-color: white;
}

.profil-dialog span {
    color: #204a7e;
    font-weight: bold;
}

.confirm-dialog {
    display: flex;
}

.confirm-dialog mat-icon {
    display: inline-block; 
    margin: auto; 
    color: #ffce0a;
}

.confirm-dialog span {
    display: inline-block; 
    margin: auto;
}
