<div class="main-home">
    <div class="cvr-img">
        <div *ngIf="images && images.length > 0" class="img-slide">
            <img *ngFor="let image of images; let i=index" 
                 [src]="image.imageSrc" 
                 [alt]="image.imageAlt"
                 [ngClass]="{'image-active' : selectedIndex === i}"
                 class="slide-animate">
        </div>
        <div class="img-indicator">
            <span 
                *ngFor="let dot of images; let i=index"
                class="dot-indct"
                [ngClass]="{'active' : selectedIndex === i}"
                (click)="selectImage(i)"
                >
            </span>
        </div>
    </div>
    <div class="curve">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1120 280">
            <path fill="#c6e0ff" fill-opacity="1" d="M0,288L80,266.7C160,245,320,203,480,186.7C640,171,800,181,960,160C1120,139,1280,85,1360,58.7L1440,32L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
        </svg>
        <h2 class="text-end">Employee Management</h2>
    </div>
</div>
