.auth-page {
    height: 100vh;
    background-color: white;
}

.auth-page .row:first-of-type {
    height: 100%;
}

.auth-page div .row:first-of-type {
    height: 100%; 
    position: relative;
}

.cst-card {
    background-color: white;
    border-radius: .8em;
    box-shadow: 0 0 .8em .01em rgba(154, 154, 154, 0.296);
}

.cst-card .row {
    margin: 2em 0 0 0;
}

.cst-card .row div {
    margin-bottom: 1em;
}

.field-auth img {
    width: 6em;
}

.sign {
    position: absolute; 
    bottom: 0; 
    color: rgb(146, 146, 146);
    font-size: .8em;
}

.bg-auth {
    padding: 0;
    position: relative;
}

.bg-auth img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0, 0, 0, 0));
}

.bg-auth div {
    height: 5em; 
    position: absolute; 
    bottom: 0.1em; 
    right: 0; 
    width: 55%; 
    display: table; 
    padding: 1.8em 2em;
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255, 255, 255, 0.922));
}

.bg-auth h1 {
    vertical-align:middle; 
    display:table-cell; 
    font-size: 2em; 
    font-weight: bold;
    color: #2a66ae;
    text-shadow: -0.01em 0 white, 0 0.01em white, 0.01em 0 white, 0 -0.01em white, 0 0 .4em rgb(129, 129, 129);
}

.logo img{
    width: 25%;
}

@media (min-width: 576px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}
